*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    margin: 1em;
    background-color: aliceblue;
}
.main {
    padding: 1em;
    background-color: rgb(177, 218, 218);
    display: flex;
    justify-content: space-around;
}
.main h1{
    padding-right: 10px;
    color: #fff;
    font-family: monospace;
    font-size: 3em;
    border: 1px transparent solid;
    border-right: 1px black solid;
    font-weight: bold;
}
.main span:first-child{
    color: #000;
}

.main button {
    width: 100px;
    height: auto;
    background: none;
    border: none;
    font-size: 20px;
    transition: .5s;
}
.main button:hover {
    color: #fff;
    word-spacing: 2px;
    border-bottom: 1px #fff solid;
    cursor: pointer;
}
.center{
    margin-top: .5em;
    margin-right: 10em;
    text-align: center;
    float: right;
}
.login{
    width: 400px;
    height: 50vh;
    background: linear-gradient( 90deg ,rgba(255, 255, 255, 0.719),rgba(22, 57, 78, 0.37));
    border-radius: .5em; 
}
.login h1 {
    color: #fff;
    font-family: Arial;
}
.uN,
.uP{
    padding-top: 2em;
    font-family: monospace;
    font-size: 20px;
}
.uN input,
.uP input {
    background-color: transparent;
    border: none;
    border-bottom: 1px gray solid;
    font-size: 20px;
}


#submit{
    width: 80px;
    margin-top: 2em;
    border: 1px transparent solid;
    border-bottom: 1px darkgray solid;
    background: transparent;
    transition: .2s; 
    font-size: 20px; 
}
#submit:hover{
	width: 100px;
    cursor: pointer;
    border-radius: 0;
}

#error1{
    color: red;
    font-style: italic;
    font-size: 20px;
    margin-top: .5em;
}

.msg-box{
    height: 25vh;
    margin-top: 2em;
    text-align: center;
    font-size: 35px;
}
#rmvlogin{
    width: 50px;
    margin-top: .5em;
    margin-left: 8em;
    position: absolute;
    background: rgba(255, 0, 0, 0.74);
    color: #fff;
    font-size: large;
    border: none;
    border-radius: 2px;
}
footer h3 {
    color: rgb(141, 158, 158);
}
footer{
    width: 100%;
    margin-top: 50em;
    background-color: rgb(6, 10, 9);
    text-align: center;
    font-family: monospace;
    padding: 1em;
}

@media (max-width: 500px) {
    .main{
        display: flex;
    }
}

@media (max-width: 700px) {
    .login{
        width: 100%;
        padding-left: 8em !important;
        margin: 0 !important;
    }
    #rmvlogin{
        margin-left: 5em;
    }
}